---
import AnimatedNight from "../components/AnimatedNight.astro";
import Divider from "../components/Divider.astro";
import Hero from "../components/Hero.astro";
import Shadows from "../components/Shadows.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CSS Showcase">
  <main class="min-h-screen max-w-5xl mx-auto mt-10 px-8 lg:px-8 pb-32">
    <Hero />
    <AnimatedNight />
    <Divider title={"Shadows"} />
    <Shadows />
    <Divider title={"Drop-shadows"} />
  </main>
</Layout>

<style></style>
