---
type Props = {
  title: string;
  description: string;
  animated?: "mount";
};
const { title, description, animated }: Props = Astro.props;
---

<header data-animation={animated}>
  {
    title && (
      <p class="mt-4 text-xl font-bold tracking-tight text-gray-800 dark:text-gray-100 sm:text-4xl desc__item">
        {title}
      </p>
    )
  }
  {description && <p class="max-w-2xl text-xl text-gray-500">{description}</p>}
</header>
