---
const { title } = Astro.props;
---

<div
  class="w-full relative before:w-full before:h-0.5 before:absolute before:bg-zinc-800 before:bottom-1/2 before:top-1/2 mt-20 mb-10 text-zinc-500"
>
  <span class="relative z-10 pr-4 bg-zinc-900 text-zinc-500"> {title}</span>
</div>
