---
import Description from "./Description.astro";
---

<style>
  .custom-gradient-shadow-two-color {
    --distance: 1px;
    --amplitude: 10px;

    box-shadow: var(--distance) calc(var(--distance) * -1) var(--amplitude) 0
        #08ea40,
      var(--distance) var(--distance) var(--amplitude) 0 #086aea;
  }
  .custom-gradient-shadow-four-color {
    --distance: 2px;
    --amplitude: 10px;
    position: relative;
    z-index: 1;
  }
  .custom-gradient-shadow-four-color::before {
    position: absolute;
    content: "";
    width: calc(100% + var(--distance));
    height: calc(100% + var(--distance));
    top: calc((var(--distance) * -1) / 2);
    left: calc((var(--distance) * -1) / 2);
    background-image: linear-gradient(45deg, #0fa, rgb(230, 75, 3), #5d00ff);
    z-index: 0;
    filter: blur(var(--amplitude));
    transition: filter 0.2s ease-in-out;
  }
  .hover-shadows:hover::before {
    filter: blur(calc(var(--amplitude) * 2));
  }
  .stronger:hover::before {
    filter: blur(calc(var(--amplitude) * 5));
  }
</style>

<article>
  <Description
    title={"Gradient shadows"}
    description="Two colors shadows using only box-shadow property."
  />

  <gradient-shadow
    class="custom-gradient-shadow-two-color w-full h-32 bg-zinc-900 border border-zinc-700 block rounded-md my-8"
  />

  <Description
    description="Four colors box shadow. Another approach implementing ::before pseudo element and filter"
  />
  <gradient-shadow
    class="custom-gradient-shadow-four-color w-full h-32 border border-zinc-700 block rounded-md my-8"
  >
    <div class="bg-zinc-900 z-10 relative w-full h-full rounded-md"></div>
  </gradient-shadow>

  <div class="flex sm:gap-8 flex-col sm:flex-row">
    <div class="w-full md:w-1/2">
      <Description description="Hover!" />
      <gradient-shadow
        class="custom-gradient-shadow-four-color w-full h-32 border border-zinc-700 block rounded-md my-8 hover-shadows"
      >
        <div class="bg-zinc-900 z-10 relative w-full h-full rounded-md"></div>
      </gradient-shadow>
    </div>

    <div class="w-full md:w-1/2">
      <Description description="Stronger!" />
      <gradient-shadow
        class="custom-gradient-shadow-four-color w-full h-32 border border-zinc-700 block rounded-md my-8 hover-shadows stronger"
      >
        <div class="bg-zinc-900 z-10 relative w-full h-full rounded-md"></div>
      </gradient-shadow>
    </div>
  </div>
</article>
